# Ignoruj pliki binarne i tymczasowe w dowolnym podfolderze
**/[Bb]in/
**/[Oo]bj/

# Pliki kompilatora (intermediate, build, debug)
**/*.obj
**/*.exe
**/*.dll
**/*.lib
**/*.pdb
**/*.ipdb
**/*.iobj
**/*.ilk

# Visual Studio
**/.vs/
**/.vscode/
**/*.user
**/*.suo
**/*.sdf
**/*.cache
**/*.VC.db
**/*.VC.VC.opendb

# Logi, pliki tymczasowe i backupy
**/*.log
**/*.tmp
**/*.bak
**/*.ncb
**/*.aps
**/*.pch

# Pliki systemowe
**/Thumbs.db
**/Desktop.ini

# NuGet, MSBuild
**/packages/
**/*.nupkg
**/project.lock.json
**/project.fragment.lock.json